<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yixiang.modules.shop.mapper.YxStoreCouponUserMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, cid, uid, coupon_title, coupon_price, use_min_price, add_time, end_time, use_time, type, status,
        is_fail,category_id,category_name,time_type,time_num
    </sql>

    <select id="getYxStoreCouponUserById" resultType="co.yixiang.modules.shop.web.vo.YxStoreCouponUserQueryVo">
        select <include refid="Base_Column_List"/> from yx_store_coupon_user where id = #{id}
    </select>

    <select id="getYxStoreCouponUserPageList" resultType="co.yixiang.modules.shop.web.vo.YxStoreCouponUserQueryVo">
        select <include refid="Base_Column_List"/> from yx_store_coupon_user
    </select>

</mapper>
