<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yixiang.modules.shop.mapper.YxStoreProductRelationMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, uid, product_id, type, category, add_time
    </sql>

    <select id="getYxStoreProductRelationById" resultType="co.yixiang.modules.shop.web.vo.YxStoreProductRelationQueryVo">
        select <include refid="Base_Column_List"/> from yx_store_product_relation where id = #{id}
    </select>

    <select id="getYxStoreProductRelationPageList" resultType="co.yixiang.modules.shop.web.vo.YxStoreProductRelationQueryVo">
        select <include refid="Base_Column_List"/> from yx_store_product_relation
    </select>

</mapper>
