<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yixiang.modules.shop.mapper.YxStoreProductAttrMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, product_id, attr_name, attr_values
    </sql>

    <select id="getYxStoreProductAttrById" resultType="co.yixiang.modules.shop.web.vo.YxStoreProductAttrQueryVo">
        select <include refid="Base_Column_List"/> from yx_store_product_attr where id = #{id}
    </select>

    <select id="getYxStoreProductAttrPageList" resultType="co.yixiang.modules.shop.web.vo.YxStoreProductAttrQueryVo">
        select <include refid="Base_Column_List"/> from yx_store_product_attr
    </select>

</mapper>
