<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yixiang.modules.shop.mapper.YxSystemConfigMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, menu_name, value, sort, status
    </sql>

    <select id="getYxSystemConfigById" resultType="co.yixiang.modules.shop.web.vo.YxSystemConfigQueryVo">
        select <include refid="Base_Column_List"/> from yx_system_config where id = #{id}
    </select>

    <select id="getYxSystemConfigPageList" resultType="co.yixiang.modules.shop.web.vo.YxSystemConfigQueryVo">
        select <include refid="Base_Column_List"/> from yx_system_config
    </select>

</mapper>
