<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yixiang.modules.shop.mapper.YxSystemGroupDataMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, group_name, value, add_time, sort, status
    </sql>

    <select id="getYxSystemGroupDataById" resultType="co.yixiang.modules.shop.web.vo.YxSystemGroupDataQueryVo">
        select <include refid="Base_Column_List"/> from yx_system_group_data where id = #{id}
    </select>

    <select id="getYxSystemGroupDataPageList" resultType="co.yixiang.modules.shop.web.vo.YxSystemGroupDataQueryVo">
        select <include refid="Base_Column_List"/> from yx_system_group_data
    </select>

</mapper>
